# Ordner die Ausgelassen werden sollen
RemoteSystemsTempFiles/
.externalToolBuilders/
.metadata/
.recommenders/**
.settings/
dist/
bin/
tmp/
**.svn/
**build/
**classes/
**/target/


# Dateien auslassen

# Dateitypen die Ausgelassen werden sollen
.classpath
*.class

**.orig
**.lnk
**.log

# Dateien im Wurzelverzeichnis auslassen
/*.rar
/*.zip
/*.tar
/*.tar.gz
/*.ini


**.ini
**.conf

